html,
body,
#root,
.App {
    height: 100%;
}

@font-face {
  font-family: 'ysrg-serif';
  src: local('ysrg-serif'), url(./fonts/ysrg-serif.woff) format('woff');
}

.App {
  font-family:ysrg-serif,SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.dark {
  color: #dadada;
}

.tg-list-item {
	display: flex;
	align-items: center;
  justify-content: center;
  padding: .5em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 87%;
  margin: auto;
}
.content {
  width: 50%;
  margin: auto;
}
.gallery {
  margin: 1em;
}
.gallery img {
  max-width: 25%;
}
.about {
  margin: 1em;
  font-size: 1.7em;
  align-self: flex-start;
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.5em;
}

header {
  text-align: center;
  /* width: 50%; */
  margin:auto;
}
header h1 {
  font-weight: 900;
  width: 80px;
  padding: 2em 0 0;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  margin: .4em .77em;
  max-width: 110px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.strike {
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 2em 1.5em 0;
}

.stack > .strike {
  margin: 1em 0;
}

.strike > span {
  position: relative;
  display: inline-block;
  color: #bbb6c3;
  font-size: 0.7em;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd7e6;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

h2 > a {
  margin: 0 1em;
  color: #282c34
}

h2 > a:hover {
  margin: 0 1em;
  color: rgb(68, 68, 68)
}

.spinner {
  color: #353535;
  z-index: 1;
  margin: 20vh auto;
  width: 100vw;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 575.98px) and (max-width: 1199.98px) {
  .content {
    width: 80%;
  }

  .App-logo {
    height: 50px;
  }
}

@media (max-width: 992px) {
  html,
  body,
  #root,
  .App {
      min-height: 100%;
      height: initial;
  }
}

@media (max-width: 575.98px) {

  .content {
    width: 100%;
  }

  .stack {
    padding: 1em;
  }

  .App-logo {
    height: 23px;
    }
  header h1 {
    margin: 0 auto;
    padding: 1em 0 0;
  }
  .about {
    font-size: 1.2em;
    text-align: left;
    margin: 0 1.2em;
  }
  .strike {
    margin-top:0 !important;
    font-size: .7em;
  }
}
