
.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 5em;
    height: 1em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

.tgl-flat {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 2em;
    &:after {
      transition: all .2s ease;
      background: #10161E;
      content: "";
      border-radius: 1em;
    }
  }

  &:checked + .tgl-btn {
    border: 2px solid rgb(255, 255, 255);
    background: #10161E;
    &:after {
      left: 50%;
      background: #ffffff;
    }
  }
}
